<form action="/signin" method="POST">
    <input type="text" name="username" placeholder="Enter Username">
    <input type="password" name="password" placeholder="Enter Password">
    <div id="buttonHolder">
        <input id="signinButton" type="submit" value="Sign In" class="waves-effect waves-light btn-large">
    </div>
</form>