<form action="/signin" method="POST">
    <input size="50" type="text" name="email" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter Password">
    <div id="buttonHolder">
        <input id="signinButton" type="submit" value="Submit" class="waves-effect waves-light btn-large">
    </div>
</form>