<div class="form-container">
    <form id="signupForm" class="form container" action="/signup" method="POST">
        <h1>Create Account</h1>
        <input type="email" name="email" id="email" placeholder="Enter Email">
        <input type="text" name="username" id="username" placeholder="Enter Username">
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Submit" id="signUpSubmit" class="waves-effect waves-light btn-large">
    </form>
    <button id="closeButton" class="waves-effect waves-light btn-large" onclick="closeForm()">Cancel</button>
    </div>
</form>
