<nav class="navbar">
        <img id="navLogo" src="assets/navLogo.png" class="img-responsive">       
        <img id="accountIMG" src="assets/accountHeader.png" class="img-responsive">
    </nav>
        <a id="logoutButton" href="/signout">Log Out</a>
    <section id="accountHeader" class="container">
        <img id="accountLogo" src="assets/accountLogo.png" class="img-responsive">
        <h1 style="font-size: 6vw">{{username}}</h1>
    </section>
    <section class="container">
        {{> postList}}
    </section>
    

    <a id="workbenchButton" class="btn btn-primary" href="/workbench" role="button"><img id="postIcon" src="assets/postIcon.png">Make a Post</a>
    <a id="cogfeedButton" class="btn btn-primary" href="/cogfeed" role="button"><img id="cogfeedIcon" src="assets/cogIcon.png">Cog Feed</a>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>