<nav class="navbar">
    <img id="navLogo" src="assets/navLogo.png" class="img-responsive">       
    <img id="cogfeedIMG" src="assets/cogLogo.png" class="img-responsive">
    <img id="accountIMG" src="assets/accountLogo.png" class="img-responsive">             
</nav>
<section id="container">
    <h5>Welcome, {{username}}</h5>
</section>
<a class="btn btn-primary" href="#" role="button"><img id="postIcon" src="assets/postIcon.png">Make a Post</a>
