<nav class="navbar">
    <img id="navLogo" src="assets/navLogo.png" class="img-responsive">       
    <img id="workbenchIMG" src="assets/workbenchLogo.png" class="img-responsive">
</nav> 
<a id="logoutButton" href="/signout">Log Out</a>
<section class="container">
{{> postForm}}
</section>

<a id="accountButton" class="btn btn-primary" href="/account" role="button"><img id="accountIMG" src="assets/accountLogo.png">Account Page</a>
<a id="cogfeedButton" class="btn btn-primary" href="/cogfeed" role="button"><img id="accountIMG" src="assets/cogIcon.png">Cog Feed</a>
