body {
    background-color: lightgrey;
}

h5 {
    font-size: 40px;
    font-family: 'Share Tech Mono', monospace;
    color: black;
    text-transform: uppercase;
}

p {
    top: 5px;
    font-family: 'Share Tech Mono', monospace;
    color: white
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: darkblue;
    display: flex;
    align-items: baseline;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

#accountIMG {
    width: 35px;
    height: auto;
    padding-right: 10px;   
}



a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    color: darkblue;
}

a:hover {
    color: black;
    transition: 1s;
}

#navLogo {
    width: 25%;
    height: auto;
}

#cogfeedIMG {
    width: 25%;
    padding-bottom: 3px;
}

#postIcon {
    width: 35px;
    height: auto;
    padding-right: 10px;    
}

#accountButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#workbenchButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn-primary {
    font-family: 'Share Tech Mono', monospace;
    background-color: darkblue;
}

.postContainer {
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    margin: 15px;
    background-color: white;
    padding: 2px;
    width: 95%;
    overflow-wrap: break-word;
}

p {
    
    font-family: 'Share Tech Mono', monospace;
    color: black;
    font-size: 17px;
}

#date {
    font-family: 'Share Tech Mono', monospace;
    color: black;
    font-size: 10px;
}

.title {
    font-family: 'Share Tech Mono', monospace;
    color: black;
    font-size: 25px;
}