body {
    background-color: lightgrey;
}

.navbar {
    background-color: darkblue;
    display: flex;
    align-items: baseline;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

h5 {
    font-size: 30px;
    font-family: 'Share Tech Mono', monospace;
    color: black;
}

.img-responsive {
    max-width: 35%;
    height: auto;
    display: block;
}

#accountIMG {
    width: 6%;
    height: auto;
}

#navLogo {
    width: 25%;
    height: auto;
}

#cogfeedIMG {
    width: 25%;
    padding-bottom: 3px;
}

#postIcon {
    width: 35px;
    height: auto;
    padding-right: 10px;    
}

.btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn-primary {
    font: 10px;
    font-family: 'Share Tech Mono', monospace;
    background-color: darkblue;
}
