body {
    background-image: linear-gradient(darkblue, blue, darkblue);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: auto;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    font-size: 50px;
}

hr{
    width: 40%;
    stroke-width: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#buttonHolder {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#buttonHolder input {
    font-size: 25px;
    margin-top: 2px;
    color: black;
}

.waves-input-wrapper .waves-button-input {
    top: 3px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: white;
    border-bottom: none;
    font-size: 20px;
}

.btn, .btn-large, .btn-small {
    background-color: white;
}

input {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: black;
}

form {
    width: 50%;
    margin-top: 15px;
}

a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    color: white;
}

a:hover {
    color: cyan;
    text-decoration: underline;
    transition: 1s;
}

a:active {
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0s;
}

/* create account popup */

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    z-index: 9;
    text-align: center;
    outline: black;
  }
  
  /* Add styles to the form container */
  .form-container {
    background-color: #4700AB;
    width: 400px;
    height: fit-content;
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;    
  }

  .waves-input-wrapper .waves-button-input {
      top: 0px;
  }

  #closeButton {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: black;
  }
   